body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #ff00ee;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.propiedades {
    width: auto;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 1vh 0 2vh 10vh;
    position: fixed;
    left: 0;
    /* Posiciona el contenedor a la izquierda */
    top: 0;
    /* Posiciona el contenedor en la parte superior */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 0vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.propiedades input {
    margin-left: .3vh;
    height: 1vh;
    padding: 1.4vh;
    background-color: transparent;
    border: none;
    width: 8vh;
}

.propiedades select {
    margin-right: 1vh;
    height: 3.7vh;
    color: black;
    background-color: transparent;
    border: none;
}

.propiedades button {
    margin-left: 1vh;
    padding: 1vh;
}

#deleteButton {
    width: 2.3vh;
    border-color: transparent;
    margin: 0vh 1vh 0vh 0vh;
    cursor: pointer;
}

.propiedades span {
    font-weight: bold;
}

#increaseZIndexButton {
    margin: 0vh;
    border-color: transparent;
    background-color: transparent;
}

#decreaseZIndexButton {
    margin: 0;
    background-color: transparent;
    border-color: transparent;
}

#rotateButton {
    background-color: transparent;
    border-color: transparent;
    background-image: url("https://img.icons8.com/fluency/48/rotate.png");
    background-repeat: no-repeat;
    background-size: 2.3vh;
    cursor: pointer;
    margin: 0vh 1vh;
}

.container-categorias {
    width: 6vh;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 1vh 0 2vh 1vh;
    position: fixed;
    left: 0;
    /* Posiciona el contenedor a la izquierda */
    top: 0;
    /* Posiciona el contenedor en la parte superior */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 1vh;
    z-index: 90000;
}

.container-categorias .objetos {}

.container-menu .objetos img {
    width: 100%;
    height: auto;
    margin-top: 2vh;
    filter: drop-shadow(1px 2px 1px rgb(0 0 0 / 0.4));
    cursor: pointer;
}

.container-layout {
    background-color: #1E1E1E;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-layout .layout {
    background-color: rgb(135, 135, 135);
    width: 70%;
    height: 60vh;
    color: transparent;
    background-repeat: no-repeat;
    /* Evitar que el fondo se repita */
    background-size: contain;
}

.selected {
    border: 2px solid rgb(64, 255, 0);
    cursor: move;
}

.menu-toggle {
    cursor: pointer;
    padding: 9px;
    background-image: url("../img/menu.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 2.3vh;
    text-align: center;
}

.categorias button {
    display: block;
    margin-top: 9px;
}

.objetos {
    display: none;
}

@media only screen and (max-width: 479px) {
    body {
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        background-color: red;
    }

    .container {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    .propiedades {
        max-width: 75%;
        height: 5vh;
        background-color: #e9e9e9;
        border-radius: 5px;
        margin: 2vh 0 2vh 10vh;
        position: fixed;
        left: 0;
        /* Posiciona el contenedor a la izquierda */
        top: 0;
        /* Posiciona el contenedor en la parte superior */
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .propiedades input {
        margin-right: 1vh;
        height: 1vh;
        padding: 1.4vh;
    }

    .propiedades select {
        margin-right: 1vh;
        height: 4.3vh;
        color: black;
    }

    .propiedades button {
        margin-right: 1vh;
        padding: 0.8vh;
    }

    .propiedades span {
        font-weight: bold;
    }

    #increaseZIndexButton {
        margin-left: 1vh;
        border-color: transparent;
        background-color: transparent;
    }

    #zIndexValue {
        font-size: 10px;
        text-align: center;
    }

    #decreaseZIndexButton {
        background-color: transparent;
        border-color: transparent;
    }

    .container-menu {
        width: 5vh;
        background-color: #e9e9e9;
        border-radius: 5px;
        margin: 2vh 0 2vh 2vh;
        position: fixed;
        left: 0;
        /* Posiciona el contenedor a la izquierda */
        top: 0;
        /* Posiciona el contenedor en la parte superior */
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        padding: 1vh;
        z-index: 90000;
        max-height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #rotateButton {
        background-color: transparent;
        border-color: transparent;
        background-image: url("https://img.icons8.com/fluency/48/rotate.png");
        background-repeat: no-repeat;
        background-size: 2vh;
    }

    .container-menu .objetos {}

    .container-menu .objetos img {
        width: 100%;
        height: auto;
        cursor: pointer;
        margin-bottom: 2vh;
    }

    .container-layout {
        background-color: #1E1E1E;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .container-layout .layout {
        background-color: rgb(135, 135, 135);
        width: 70%;
        height: 60vh;
        color: transparent;
        background-repeat: no-repeat;
        /* Evitar que el fondo se repita */
        background-size: contain;
    }

    .selected {
        border: 2px solid blue;
        cursor: move;
    }

}

@media only screen and (max-width: 879px) {
    body {
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        background-color: rgb(24, 159, 105);
    }

    .container {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    .propiedades {
        max-width: 75%;
        height: 5vh;
        background-color: #e9e9e9;
        border-radius: 5px;
        margin: 2vh 0 2vh 10vh;
        position: fixed;
        left: 0;
        /* Posiciona el contenedor a la izquierda */
        top: 0;
        /* Posiciona el contenedor en la parte superior */
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .propiedades input {
        margin-right: 1vh;
        height: 1vh;
        padding: 1.4vh;
    }

    .propiedades select {
        margin-right: 1vh;
        height: 4.3vh;
        color: black;
    }

    .propiedades button {
        margin-right: 1vh;
        padding: 0.8vh;
    }

    .propiedades span {
        font-weight: bold;
    }

    #increaseZIndexButton {
        margin-left: 1vh;
        border-color: transparent;
        background-color: transparent;
    }

    #zIndexValue {
        font-size: 10px;
        text-align: center;
    }

    #decreaseZIndexButton {
        background-color: transparent;
        border-color: transparent;
    }

    .container-menu {
        width: 5vh;
        background-color: #e9e9e9;
        border-radius: 5px;
        margin: 2vh 0 2vh 2vh;
        position: fixed;
        left: 0;
        /* Posiciona el contenedor a la izquierda */
        top: 0;
        /* Posiciona el contenedor en la parte superior */
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        padding: 1vh;
        z-index: 90000;
        max-height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #rotateButton {
        background-color: transparent;
        border-color: transparent;
        background-image: url("https://img.icons8.com/fluency/48/rotate.png");
        background-repeat: no-repeat;
        background-size: 2vh;
    }

    .container-menu .objetos {}

    .container-menu .objetos img {
        width: 100%;
        height: auto;
        cursor: pointer;
        margin-bottom: 2vh;
    }

    .container-layout {
        background-color: #1E1E1E;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .container-layout .layout {
        background-color: rgb(135, 135, 135);
        width: 70%;
        height: 60vh;
        color: transparent;
        background-repeat: no-repeat;
        /* Evitar que el fondo se repita */
        background-size: contain;
    }

    .selected {
        border: 2px solid blue;
        cursor: move;
    }

}

@media only screen and (max-width: 450px) {
    body {
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        background-color: blue;
    }

    .container {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    .propiedades {
        max-width: 70%;
        height: 5vh;
        background-color: #e9e9e9;
        border-radius: 5px;
        margin: 2vh 0 2vh 10vh;
        position: fixed;
        left: 0;
        /* Posiciona el contenedor a la izquierda */
        top: 0;
        /* Posiciona el contenedor en la parte superior */
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .propiedades input {
        margin-right: 1vh;
        height: 1vh;
        padding: 1.4vh;
    }

    .propiedades select {
        margin-right: 1vh;
        height: 4.3vh;
        color: black;
    }

    .propiedades button {
        margin-right: 1vh;
        padding: 0.8vh;
    }

    .propiedades span {
        font-weight: bold;
    }

    #increaseZIndexButton {
        margin-left: 1vh;
        border-color: transparent;
        background-color: transparent;
    }

    #zIndexValue {
        font-size: 10px;
        text-align: center;
    }

    #decreaseZIndexButton {
        background-color: transparent;
        border-color: transparent;
    }

    .container-menu {
        width: 5vh;
        background-color: #e9e9e9;
        border-radius: 5px;
        margin: 2vh 0 2vh 2vh;
        position: fixed;
        left: 0;
        /* Posiciona el contenedor a la izquierda */
        top: 0;
        /* Posiciona el contenedor en la parte superior */
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        padding: 1vh;
        z-index: 90000;
        max-height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #rotateButton {
        background-color: transparent;
        border-color: transparent;
        background-image: url("https://img.icons8.com/fluency/48/rotate.png");
        background-repeat: no-repeat;
        background-size: 2vh;
    }

    .container-menu .objetos {}

    .container-menu .objetos img {
        width: 100%;
        height: auto;
        cursor: pointer;
        margin-bottom: 2vh;
    }

    .container-layout {
        background-color: #1E1E1E;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .container-layout .layout {
        background-color: rgb(135, 135, 135);
        width: 70%;
        height: 60vh;
        color: transparent;
        background-repeat: no-repeat;
        /* Evitar que el fondo se repita */
        background-size: contain;
    }

    .selected {
        border: 2px solid blue;
        cursor: move;
    }

}